@import "tailwindcss";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "remixicon/fonts/remixicon.css";

@theme {
    --font-sans: "Geist Variable", sans-serif;
    --font-mono: "Geist Mono Variable", sans-serif;
}

@keyframes snow {
    0% {
        top: -12px;
        transform: translateX(0);
    }

    100% {
        top: 100%;
        transform: translateX(-16vw) rotateX(180deg) rotateY(360deg);
    }
}

@keyframes snow2 {
    0% {
        top: -12px;
        transform: translateX(0) rotateX(0) rotateY(0);
    }

    100% {
        top: 100%;
        transform: translateX(16vw) rotateX(180deg) rotateY(360deg);
    }
}

.animate-snow:nth-child(even) {
    animation: snow 10s linear infinite;
}

.animate-snow:nth-child(odd) {
    animation: snow2 10s linear infinite;
}
