---
import Marquee from "@/components/blocks/Marquee.astro"
import { getNowPlaying, username } from "@/data/now-playing"

const nowPlaying = await getNowPlaying()
---

<a
    href={`https://last.fm/user/${username}`}
    target="_blank"
    class="bg-pink-50 text-pink-800 font-medium py-1 uppercase font-mono rounded-lg block h-8
    dark:bg-pink-950 dark:text-pink-50"
>
    <Marquee height={32}>
        <i class="ri-music-2-fill"></i>
        Listening to {nowPlaying}
    </Marquee>
</a>
