---
import { getWebringData } from "@/data/webring"

const data = await getWebringData()
---

{data && (
    <div class="flex items-center gap-2 pt-4">
        <a href={data.prev.url} class="flex-1 text-start">
            &lt;-- {data.prev.name}
        </a>
        <a href="https://webring.otomir23.me" target="_blank" class="text-cenrer font-medium">
            <i class="ri-global-line"></i> Webring
        </a>
        <a href={data.next.url} class="flex-1 text-end">
            {data.next.name} --&gt;
        </a>
    </div>
)}
