---
import Layout from "@/components/layout/Layout.astro"

export const prerender = true
---

<Layout title="404">
    <h1 class="font-bold">Page not found</h1>
    <a href="/">&lt;- Home</a>
</Layout>