---
import Layout from "@/components/layout/Layout.astro"
import NowPlaying from "@/components/blocks/NowPlaying.astro"
import Name from "@/components/blocks/Name.astro"
import Social from "@/components/blocks/Social.astro"
import FriendButtons from "@/components/blocks/FriendButtons.astro"
import Webring from "@/components/blocks/Webring.astro"

import UnderConstructionIllustration from "@/assets/under-construction.svg"
---
<Layout>
    <div class="flex items-center gap-2 justify-between">
        <Name />
        <div class="flex items-center gap-1 text-xl">
            <Social
                href="https://github.com/otomir23"
                class="text-neutral-800 dark:text-neutral-200"
                icon="github-fill"
                name="GitHub"
            />
            <Social
                href="https://t.me/otomir23"
                class="text-cyan-500"
                icon="telegram-2-fill"
                name="Telegram"
            />
            <Social
                href="https://steamcommunity.com/id/otomir23"
                class="text-blue-900 dark:text-blue-400"
                icon="steam-fill"
                name="Steam"
            />
            <Social
                href="https://twitter.com/otomir23"
                class="text-cyan-400"
                icon="twitter-fill"
                name="Twitter"
            />
        </div>
    </div>
    <NowPlaying />
    <p class="text-center my-12">
        <UnderConstructionIllustration class="mx-auto w-48" width={192} height={192} />
        <b>Website is under construction!</b> <br />
        Please check back later.
    </p>
    <div class="flex-1 border-b border-zinc-200 dark:border-zinc-900"></div>
    <FriendButtons />
    <Webring />
</Layout>
